langchain-chroma
chromadb
langchain-google-genai



python-dotenv
pydantic
typing-extensions
langchain-core


unstructured[pdf]


langchain-text-splitters
langchain-community
langchain



pdfplumber>=0.11.0


rank_bm25
fastapi
uvicorn[standard]
python-multipart
