langchain-google-genai
python-dotenv
pydantic
langchain-core
langchain-text-splitters
langchain-community
langchain

# Local UI/API
fastapi
uvicorn[standard]
python-multipart

# Fast Ingestion
pymupdf

# Lightweight Vector Search & Embeddings
faiss-cpu

# Hybrid Search
rank_bm25

# Hugging Face Embeddings API
langchain-huggingface

# OCR Scanned PDFs
pytesseract
Pillow
